@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic global styles */
body { font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }
a { text-decoration: none; }
